@model WeatherForecastMVC.ViewModels.WeatherForecastViewModel

@{
    ViewData["Title"] = "Weather";
    //var currentWeather = Model.CurrentWeather;
}

<style>
    #owl-demo .item {
        margin: 3px;
    }

        #owl-demo .item img {
            display: block;
            width: 100%;
            height: auto;
        }
</style>

<br />
<form method="get" enctype="multipart/form-data">
    <div class="row mt-2 text-center">
        <div class="col-md-8" style="border: 5px solid #F0F3F6;">
            <div class=" mt-md-5 mb-md-5">
                <div style="font-size: large;font-weight: 600">@Model.CurrentWeather.City, @Model.CurrentWeather.Country</div>
                <div>@Model.CurrentWeather.Description</div>
                <div style="font-size: 80px;">@Model.CurrentWeather.Temp&deg;</div>
            </div>
            <div id="owl-demo" class="owl-carousel owl-theme">
                @foreach (var todayWeather in Model.TodayWeatherDetail)
                {
                    <div style="border: 1px solid" class="item">
                        <div class="text-md-left" style="padding-left: 5px;">@todayWeather.Time</div>
                        <div>@todayWeather.Temp&deg;C</div>
                        <div><img src="@todayWeather.IconUrl" alt="icon" /></div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4" style="border: 5px solid #F0F3F6;">
            <table width="100%">
                @foreach (var item in Model.DayWeather)
                {
                    <tr class="text-center">
                        <td>@item.DateDayOfWeek</td>
                        <td>@item.TempMin&deg;C - @item.TempMax&deg;C</td>
                        <td><img src="@item.IconUrl" alt="icon" /></td>
                    </tr>
                }

            </table>
        </div>
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $(".owl-carousel").owlCarousel({

                //Basic Speeds
                slideSpeed: 200,
                paginationSpeed: 800,

                //Autoplay
                autoPlay: false,
                goToFirst: true,
                goToFirstSpeed: 1000,

                // Navigation
                navigation: false,
                navigationText: ["prev", "next"],
                pagination: true,
                paginationNumbers: true,

                // Responsive
                responsive: true,
                items: 4,
                itemsDesktop: [1199, 4],
                itemsDesktopSmall: [980, 3],
                itemsTablet: [768, 2],
                itemsMobile: [479, 1]

            })
        });
    </script>

}